
app-realtime-list {
    .font-head{
        font-size: 15px;
    }

    .font-overspeed{
        color: red;
    }

    .font-detail{
        font-size: 10px
    }


    /*@media screen and (min-width: 600px) {
        .list{
            height: 50vh
        }
    }

    @media screen and (max-width: 600px) {
        .list{
            height: 75vh
        }
    }*/

    
}
