page-login {
    .logo-custom {
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: #ff8838;
      text-align: center;
    }

    .login-padding{
      padding-top: 20px;
      padding-bottom: 40px;
    }
}



