page-change-password {
        p {
            font-size: 0.8em !important;
            color: red !important;
        }

        .invalid {
            border-bottom: solid red !important;
        }
}
