<ion-header>
  <ion-navbar color="bsup">
    <page-header-modal [headerName]="t.language.ChangePassword"></page-header-modal>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <page-loading *ngIf="loading" loading=loading></page-loading>
    <ion-row *ngIf="!loading">
      <ion-card-header>
        <ion-label color="bsup">{{t.language.Username}}</ion-label>
        <ion-label>{{username}}</ion-label>
      </ion-card-header>
      <ion-item>
        <ion-label color="bsup" floating>{{t.language.CurrentPassword}}</ion-label>
        <ion-input type="password" [(ngModel)]="model.CurrentPassword" [class.invalid]="error" (input)='onInput()'></ion-input>
      </ion-item>
      <ion-item *ngIf="error">
        <p>{{t.language.Password}}{{t.language.DoNot}}{{t.language.Match}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="bsup" floating>{{t.language.NewPassword}}</ion-label>
        <ion-input type="password" [(ngModel)]="model.NewPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="bsup" floating>{{t.language.ReNewPassword}}</ion-label>
        <ion-input type="password" [(ngModel)]="model.ReNewPassword" [class.invalid]="model.NewPassword != model.ReNewPassword"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <button ion-button round full color="bsup" (click)="save()" [disabled]="!model.CurrentPassword || !model.NewPassword || !model.ReNewPassword || error  ||model.NewPassword != model.ReNewPassword">{{t.language.Done}}</button>
    </ion-row>
  </ion-grid>
</ion-content>